= render 'home/header'
.nec
  .nec__box
  - @necklace.each do |necklace|
    = link_to necklace_path(necklace.id), class:"nec__box--list" do
      = image_tag necklace.image, size:"160x100" , class:"nec__box--list--img"
      .nec__box--list--date--show
        = necklace.name
      .nec__box--list--date--price
        ¥
        = necklace.price.to_s(:delimited)
= render 'home/footer'