= render 'home/header'
.ear
  .ear__box
  - @earring.each do |earring|
    = link_to earring_path(earring.id) ,class:"ear__box--list" do
      =image_tag earring.image, size: "160x100" , class:"ear__box--list--img"
      .ear__box--list--date--show
        = earring.name
      .ear__box--list--date--price
        ¥
        = earring.price.to_s(:delimited)
= render 'home/footer'