= render 'home/header'
.brece
  .brece__box
  - @brecelet.each do |brecelet|
    = link_to brecelet_path(brecelet.id),class: "brece__box--list" do
      = image_tag brecelet.image, size:"160x100" ,class: 'brece__box--list--img'
      .brece__box--list--date--show
        = brecelet.name
      .brece__box--list--date--price
        ¥
        = brecelet.price.to_s(:delimited)
= render 'home/footer'