= render 'home/header'
.brecedate
  .brecedate__box
    .brecedate__box--img
      - if @brecelet.image?
        = image_tag @brecelet.image, size:"1200x450",class:"pc"
        = image_tag @brecelet.image, size:"320x150",class:"sp"
    .brecedate__box--head
      %ul
        Details
    .brecedate__box--list
      %p
        = @brecelet.name
    .brecedate__box--price
      ¥
      %ul
        = @brecelet.price.to_s(:delimited)
    .brecedate__box--size
      %li
        size
      %ul
        = @brecelet.size
      %li
        color
      %ul
        = @brecelet.color
    .brecedate__box--explain
      %p
        = @brecelet.explain
    .brecedate__box--links
      =link_to"piercing", piercings_path, class:'index__piercing'
      =link_to "Earring", earrings_path, class:'index__earring'
      =link_to "Ring", rings_path, class:'index__ring'
      =link_to"Necklace", necklaces_path, class:'index__necklace'
= render 'home/footer'