= render 'home/header'
.pice
  .pice__box
  - @piercing.each do |piercing|
    = link_to piercing_path(piercing.id), class: "pice__box--list" do
      = image_tag piercing.image, size: "160x100", class: "pice__box--list--img"
      .pice__box--list--date--show
        = piercing.name
      .pice__box--list--date--price
        ¥
        = piercing.price.to_s(:delimited) 
= render 'home/footer'