= render 'home/header'
.newpice
  .newpice__info
  = form_for @piercing do |f|
    .newpice__info--head
      商品情報を入力してください
    .newpice__info--list
      .newpice__info--list--img
        %li
          = f.label "画像をアップロード"
          = f.file_field :image
      .newpice__info--list--name
        %li
          = f.text_field :name, placeholder: :名前, class:'name' 
      .newpice__info--list--size
        %li
          = f.text_field :size, placeholder: :サイズ, class:'size' 
      .newpice__info--list--color
        %li
          = f.text_field :color, placeholder: :カラー, class:'color' 
      .newpice__info--list--price
        %li
          = f.text_field :price, placeholder: :値段, class:'price' 
      .newpice__info--list--explain
        %li
          = f.text_area :explain, placeholder: :備考, class:'explain' 
      .newpice__info--list--btn
        %ul
          = f.submit '出品する', class: 'submit'
= render 'home/footer'