= render 'home/header'
.ring
  .ring__box
  - @ring.each do |ring|
    = link_to ring_path(ring.id),class:'ring__box--list' do
      = image_tag ring.image, size:"160x100",class: "ring__box--list--img"
      .ring__box--list--date--show
        = ring.name
      .ring__box--list--date--price
        ¥
        = ring.price.to_s(:delimited)
= render 'home/footer'