= render 'home/header'
.ringdate
  .ringdate__box
    .ringdate__box--img
      - if @ring.image?
        = image_tag @ring.image,size:"1200x450",class:"pc"
        = image_tag @ring.image,size:"320x150",class:"sp"
    .ringdate__box--head
      %ul
        Details
    .ringdate__box--list
      %p
        = @ring.name
    .ringdate__box--price
      ¥
      %ul
        = @ring.price.to_s(:delimited)
    .ringdate__box--size
      %li
        size
      %ul
        = @ring.size
      %li
        color
      %ul
        = @ring.color
    .ringdate__box--explain
      %p
        = @ring.explain
    .ringdate__box--links
      =link_to "Piercing", piercings_path, class:'index__piercing'
      =link_to "Earring", earrings_path, class:'index__earring'
      =link_to"Bracelet", brecelets_path, class:'index__bracelet'
      =link_to"Necklace", necklaces_path, class:'index__necklace'
= render 'home/footer'